In [1]:
import pandas as pd
import numpy as np

In [2]:
# I import the file with data

flights = pd.read_csv("BOS_CUN_trips1M.csv",)

flights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [3]:
# I want to group by the number of outbound stops and return stops. I then find mean prices.

flights.groupby(['outboundstops', 'returnstops']).mean()

# Again, I'm only interested in the 'total' column.

                             tripindex      received       total         tax  \
outboundstops returnstops
0             0            1359.834037  1.380784e+09  956.847618  107.410032
              1             100.259987  1.380839e+09  826.761802  114.710713
              2              28.563613  1.380601e+09  775.938667  120.150817
1             0              58.889241  1.380693e+09  781.470335  114.000594
              1             195.742174  1.380639e+09  651.233799  121.636028
              2              43.749595  1.380406e+09  638.635024  126.544451
              3             685.500000  1.381695e+09  489.361429  125.968571
2             0              24.359238  1.380569e+09  758.911642  119.123610
              1             149.504986  1.380388e+09  635.264192  127.159431
              2             255.183405  1.380344e+09  611.120183  125.541228
              3            1798.000000  1.382946e+09  470.450000  123.450000
3             0              37.041322  1.380356e+09  768.576612  117.634463
              1              29.616725  1.380201e+09  726.988780  122.347666
              2              38.359477  1.380140e+09  647.720327  124.543856

                           surcharge     departure        return  \
outboundstops returnstops
0             0                  0.0  1.390613e+09  1.391417e+09
              1                  0.0  1.390378e+09  1.391068e+09
              2                  0.0  1.391092e+09  1.391810e+09
1             0                  0.0  1.389521e+09  1.390160e+09
              1                  0.0  1.389243e+09  1.389898e+09
              2                  0.0  1.388346e+09  1.388968e+09
              3                  0.0  1.385567e+09  1.386274e+09
2             0                  0.0  1.391597e+09  1.392244e+09
              1                  0.0  1.389751e+09  1.390410e+09
              2                  0.0  1.389729e+09  1.390444e+09
              3                  0.0  1.383956e+09  1.385471e+09
3             0                  0.0  1.397067e+09  1.397738e+09
              1                  0.0  1.391506e+09  1.392153e+09
              2                  0.0  1.393366e+09  1.394020e+09

                           outbounddurationminutes  returndurationminutes  \
outboundstops returnstops
0             0                         282.717100             240.733129
              1                         283.135170             439.641475
              2                         282.896310             510.758906
1             0                         450.236758             241.546922
              1                         456.171851             457.917599
              2                         465.357483             572.925363
              3                         459.321429             863.964286
2             0                         538.766272             241.875656
              1                         594.845088             481.103655
              2                         584.174392             600.926864
              3                        1019.000000            1000.000000
3             0                         832.272727             239.842975
              1                         839.426829             438.080139
              2                         808.405229             556.424837

                           availableseats  refundable  triptimestamp  \
outboundstops returnstops
0             0                  1.689671    0.012726   1.380784e+09
              1                  5.504701    0.010761   1.380839e+09
              2                  5.615140    0.000000   1.380601e+09
1             0                  5.835817    0.002354   1.380693e+09
              1                  5.094144    0.007209   1.380639e+09
              2                  5.314268    0.001520   1.380406e+09
              3                  3.892857    0.000000   1.381695e+09
2             0                  5.850787    0.000389   1.380569e+09
              1                  4.952243    0.001414   1.380388e+09
              2                  3.708127    0.000258   1.380344e+09
              3                 -1.000000    0.000000   1.382946e+09
3             0                  6.289256    0.000000   1.380356e+09
              1                  4.547038    0.000000   1.380201e+09
              2                  5.882353    0.000000   1.380140e+09

                           receiveddate       los2  departure_dow  return_dow  \
outboundstops returnstops
0             0            2.013097e+07   9.069766       3.877496    3.836199
              1            2.013097e+07   7.787190       4.816213    4.120007
              2            2.013097e+07   8.097010       4.776718    3.613868
1             0            2.013097e+07   7.152161       4.148131    4.962883
              1            2.013097e+07   7.371049       3.466373    3.240110
              2            2.013096e+07   7.018208       3.448491    2.790355
              3            2.013100e+07   8.142857       2.642857    2.035714
2             0            2.013097e+07   7.302701       4.563824    5.466291
              1            2.013096e+07   7.452678       3.866574    3.439207
              2            2.013096e+07   7.986197       3.769932    3.139885
              3            2.013103e+07  18.000000       5.000000    2.000000
3             0            2.013096e+07   7.520661       5.396694    5.917355
              1            2.013095e+07   7.231707       4.886760    3.764808
              2            2.013095e+07   7.366013       4.921569    3.000000

                           includes_sns
outboundstops returnstops
0             0                0.884552
              1                0.941464
              2                0.957061
1             0                0.798564
              1                0.869631
              2                0.891669
              3                0.857143
2             0                0.820284
              1                0.889999
              2                0.922744
              3                1.000000
3             0                0.917355
              1                0.980836
              2                0.993464