In [1]:
import pandas as pd
import numpy as np

In [2]:
# I import the file with data

flights = pd.read_csv("BOS_CUN_trips1M.csv",)

flights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [5]:
# I first look at the economy class.

economy = flights[flights['cabinclass'] == 'E']

economy.head()

# 1201004 rows × 31 columns

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [7]:
# I then find quick stats of the economy flights. I am only interested in the 'total' column.

economy.describe()

,tripindex,received,total,tax,surcharge,departure,return,outbounddurationminutes,outboundstops,returndurationminutes,returnstops,availableseats,triptimestamp,receiveddate,los2,departure_dow,return_dow,includes_sns
count,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1201004.0,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06,1.201004e+06
mean,2.226551e+02,1.380625e+09,6.735797e+02,1.209828e+02,0.0,1.389352e+09,1.390013e+09,4.524196e+02,9.936661e-01,4.459832e+02,9.744106e-01,4.998087e+00,1.380625e+09,2.013097e+07,7.436008e+00,3.589249e+00,3.372453e+00,8.718497e-01
std,7.984064e+02,1.410170e+06,2.724485e+02,1.169243e+01,0.0,5.881052e+06,5.909464e+06,1.407824e+02,3.783729e-01,1.449659e+02,4.031558e-01,3.432712e+00,1.410170e+06,4.971046e+01,6.156809e+00,2.194900e+00,2.267858e+00,3.342572e-01
min,0.000000e+00,1.378080e+09,3.203700e+02,6.390000e+01,0.0,1.378204e+09,1.378401e+09,2.610000e+02,0.000000e+00,2.350000e+02,0.000000e+00,-1.000000e+00,1.378080e+09,2.013090e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+01,1.379423e+09,4.719500e+02,1.153700e+02,0.0,1.385130e+09,1.385816e+09,3.850000e+02,1.000000e+00,3.910000e+02,1.000000e+00,2.000000e+00,1.379423e+09,2.013092e+07,5.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00
50%,2.300000e+01,1.380729e+09,5.909500e+02,1.223700e+02,0.0,1.388227e+09,1.388936e+09,4.150000e+02,1.000000e+00,4.180000e+02,1.000000e+00,6.000000e+00,1.380729e+09,2.013100e+07,7.000000e+00,4.000000e+00,4.000000e+00,1.000000e+00
75%,3.900000e+01,1.381845e+09,7.933700e+02,1.249500e+02,0.0,1.393097e+09,1.393793e+09,4.950000e+02,1.000000e+00,4.850000e+02,1.000000e+00,9.000000e+00,1.381845e+09,2.013102e+07,7.000000e+00,6.000000e+00,6.000000e+00,1.000000e+00
max,7.115000e+03,1.383005e+09,4.278770e+03,3.525500e+02,0.0,1.417545e+09,1.418158e+09,1.700000e+03,3.000000e+00,1.712000e+03,3.000000e+00,9.000000e+00,1.383005e+09,2.013103e+07,1.850000e+02,6.000000e+00,6.000000e+00,1.000000e+00

In [8]:
'''I can see that for an economy flight, we won't pay more than ~$4278, with the mean value being $673 
and median being $590'''

"I can see that for an economy flight, we won't pay more than ~$4278, with the mean value being $673 \nand median being $590"

In [13]:
# I now want to look at business class flights

business = flights[flights['cabinclass'] == 'B']

business.head()

# 1041 rows × 31 columns

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
20173,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,424,1380001461,USD,599.27,119.27,0.0,Amadeus,FL,FL,...,False,1380001461,20130924,2013-09-23,2013-11-23,2013-11-25,2,6,1,1
20174,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,425,1380001461,USD,599.27,119.27,0.0,Amadeus,FL,FL,...,False,1380001461,20130924,2013-09-23,2013-11-23,2013-11-28,5,6,4,1
23629,3248dfa1a07f76fe000001416dce75480166920c4c89ca56,988,1380526749,USD,1240.37,101.37,0.0,Amadeus,UA,UA,...,False,1380526749,20130930,2013-09-29,2013-11-16,2013-12-01,15,6,0,1
23631,3248dfa1a07f76fe000001416dce75480166920c4c89ca56,986,1380526749,USD,1081.37,101.37,0.0,Amadeus,UA,UA,...,False,1380526749,20130930,2013-09-29,2013-11-17,2013-11-30,13,0,6,1
23635,3248dfa1a07f76fe000001416dce75480166920c4c89ca56,982,1380526749,USD,975.37,101.37,0.0,Amadeus,UA,UA,...,False,1380526749,20130930,2013-09-29,2013-11-15,2013-11-30,15,5,6,1

In [10]:
# Again, I run quick statistics.

business.describe()

,tripindex,received,total,tax,surcharge,departure,return,outbounddurationminutes,outboundstops,returndurationminutes,returnstops,availableseats,triptimestamp,receiveddate,los2,departure_dow,return_dow,includes_sns
count,1041.000000,1.041000e+03,1041.000000,1041.000000,1041.0,1.041000e+03,1.041000e+03,1041.000000,1041.000000,1041.000000,1041.000000,1041.0,1.041000e+03,1.041000e+03,1041.000000,1041.000000,1041.000000,1041.000000
mean,990.464938,1.380719e+09,786.415043,115.852123,0.0,1.387213e+09,1.388103e+09,608.973103,1.050913,515.242075,1.020173,-1.0,1.380719e+09,2.013097e+07,10.092219,3.904899,3.332373,0.920269
std,1219.597421,1.380953e+06,245.655838,7.621238,0.0,5.716262e+06,5.734929e+06,250.448228,0.267290,137.058862,0.207031,0.0,1.380953e+06,4.979765e+01,5.463616,1.965957,2.135551,0.271007
min,6.000000,1.378374e+09,562.570000,101.370000,0.0,1.381413e+09,1.381607e+09,278.000000,0.000000,236.000000,0.000000,-1.0,1.378374e+09,2.013090e+07,1.000000,0.000000,0.000000,0.000000
25%,223.000000,1.379373e+09,608.850000,110.950000,0.0,1.384868e+09,1.385754e+09,431.000000,1.000000,405.000000,1.000000,-1.0,1.379373e+09,2.013092e+07,5.000000,3.000000,1.000000,1.000000
50%,493.000000,1.381140e+09,659.180000,115.370000,0.0,1.385248e+09,1.386022e+09,482.000000,1.000000,485.000000,1.000000,-1.0,1.381140e+09,2.013101e+07,10.000000,4.000000,4.000000,1.000000
75%,1293.000000,1.381823e+09,892.170000,123.450000,0.0,1.387633e+09,1.388514e+09,636.000000,1.000000,576.000000,1.000000,-1.0,1.381823e+09,2.013102e+07,14.000000,6.000000,5.000000,1.000000
max,7052.000000,1.382991e+09,1657.950000,166.230000,0.0,1.410888e+09,1.411329e+09,1184.000000,2.000000,1460.000000,2.000000,-1.0,1.382991e+09,2.013103e+07,21.000000,6.000000,6.000000,1.000000

In [11]:
'''For a business flight, the mean flight price is $786 and the median is $659 so I should expect to pay something around that'''

'For a business flight, the mean flight price is $786 and the median is $659 so I should expect to pay something around that'

In [15]:
# Finally, I look at first class flights.

first = flights[flights['cabinclass'] == 'F']

first.head()

# 276 rows × 31 columns

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
21108,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,1076,1380001461,USD,703.37,115.37,0.0,Amadeus,AA,AA,...,False,1380001461,20130924,2013-09-23,2013-10-11,2013-10-21,10,5,1,1
21109,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,1077,1380001461,USD,703.37,115.37,0.0,Amadeus,AA,AA,...,False,1380001461,20130924,2013-09-23,2013-10-11,2013-10-26,15,5,6,1
21130,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,1098,1380001461,USD,683.37,115.37,0.0,Amadeus,AA,AA,...,False,1380001461,20130924,2013-09-23,2013-10-11,2013-10-18,7,5,5,1
21131,11d548da24b2a342000001414e7f330828c6951ee8d33c5a,1099,1380001461,USD,703.37,115.37,0.0,Amadeus,AA,AA,...,False,1380001461,20130924,2013-09-23,2013-10-11,2013-10-19,8,5,6,1
23564,3248dfa1a07f76fe000001416dce75480166920c4c89ca56,1053,1380526749,USD,629.37,115.37,0.0,Amadeus,DL,DL,...,False,1380526749,20130930,2013-09-29,2013-11-14,2013-11-29,15,4,5,1

In [17]:
# Again, I look at the quick stats.

first.describe()

,tripindex,received,total,tax,surcharge,departure,return,outbounddurationminutes,outboundstops,returndurationminutes,returnstops,availableseats,triptimestamp,receiveddate,los2,departure_dow,return_dow,includes_sns
count,276.000000,2.760000e+02,276.000000,276.000000,276.0,2.760000e+02,2.760000e+02,276.000000,276.000000,276.000000,276.000000,276.0,2.760000e+02,2.760000e+02,276.00000,276.000000,276.000000,276.000000
mean,1348.800725,1.381010e+09,726.727464,120.905000,0.0,1.384761e+09,1.385734e+09,455.416667,0.949275,590.855072,0.952899,-1.0,1.381010e+09,2.013098e+07,11.26087,3.637681,2.369565,0.971014
std,1335.482706,1.108309e+06,161.349212,5.593849,0.0,2.149657e+06,2.207126e+06,130.783000,0.219833,166.437826,0.228733,0.0,1.108309e+06,4.539891e+01,5.79505,1.836764,1.943104,0.168071
min,6.000000,1.378374e+09,604.370000,101.370000,0.0,1.381312e+09,1.381665e+09,285.000000,0.000000,235.000000,0.000000,-1.0,1.378374e+09,2.013090e+07,2.00000,0.000000,0.000000,0.000000
25%,362.750000,1.379978e+09,648.950000,115.370000,0.0,1.384189e+09,1.385769e+09,355.000000,1.000000,445.000000,1.000000,-1.0,1.379978e+09,2.013092e+07,6.00000,2.000000,1.000000,1.000000
50%,1068.500000,1.381397e+09,673.370000,124.950000,0.0,1.384881e+09,1.385989e+09,410.000000,1.000000,655.000000,1.000000,-1.0,1.381397e+09,2.013101e+07,12.00000,4.000000,1.000000,1.000000
75%,1434.250000,1.381909e+09,725.950000,124.950000,0.0,1.385724e+09,1.386077e+09,510.000000,1.000000,655.000000,1.000000,-1.0,1.381909e+09,2.013102e+07,15.00000,5.000000,4.000000,1.000000
max,7093.000000,1.382946e+09,1441.370000,124.950000,0.0,1.388337e+09,1.389881e+09,815.000000,1.000000,975.000000,2.000000,-1.0,1.382946e+09,2.013103e+07,21.00000,6.000000,6.000000,1.000000

In [ ]:
'''On average, I should be looking at paying $726, with the median being $673'''